<!--The content below is only a placeholder and can be replaced.-->
<header>
  
</header>

<div class='container'>
  <p style='max-width: 60%; text-align: center;'>Welcome to StatsGG, a data visualization project created by <a href='https://github.com/mtjhartley'>Michael Hartley</a> using the <a href="https://www.reddit.com/r/smashbros/comments/5xeo4f/slippi_stats_for_the_people_summit_edition/">smash.gg API</a>.
    This data was taken from <a href="https://smash.gg/tournament/smash-summit-spring-2017/events">Smash Summit Spring 2017</a>, a tournament hosted by Beyond the Summit.
  Analysis was done on the data to find values that are (hopefully) interesting.
  The tables are interactive; clicking a row send that video to the punish!
  Enjoy!</p>
    <div class='row'>
      <div class='col-md-7'>
        <!-- <h1>
          Welcome to {{title}}!!
        </h1> -->
        <div id="player" style='max-width: 100%; height: 480px;'></div>
      
        <div class='form-group col-md-4 col-md-offset-4'>
          <form (submit)="getSetData()"  style='text-align:center'>
            <select [(ngModel)]='setIndex' name='selectedSet' class='form-control' style='text-align:center'>
              <!-- <option value='default'>  Select a Set!</option> -->
              <option style='padding-left: 45%;' *ngFor='let set of allSets; let i = index;' [value]='i'>{{set.name}}</option>
              
            </select>
            <!-- <input type="text" name="setId" [(ngModel)]="setId" value="7650196"> -->

            <!-- <input type='submit' value='Get the set data!'> -->
          <button class='btn btn-default' type='submit'>Click me to get started!</button>
          </form>

        </div>
      </div>






    <div class='col-md-5'>
        <!-- <div class='col-md-4 col-lg-6'>
          <canvas baseChart
            [data]="doughnutChartData"
            [labels]='doughnutChartLabels'
            [chartType]='doughtnutChartType'
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div> -->
        <div *ngIf='isDataAvailable'>
          <div class='row'>
            <h4 class='col-md-12' style='text-align:center;'>W: {{winner}} {{score}} L: {{loser}}</h4>
          </div>
          <div class='row'>
            <div class='col-md-12 col-lg-12'>
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
             <div class='col-md-12 col-lg-12'>
              <canvas baseChart
                      [datasets]="barChartData2"
                      [labels]="barChartLabels2"
                      [options]="barChartOptions2"
                      [legend]="barChartLegend2"
                      [chartType]="barChartType2"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
             </div>
            </div>
         

            <div class='col-md-12 col-lg-12' style='margin-top: 10px'>
              <h4 style='display:inline-block'>Win Probability</h4>
              <canvas baseChart
                id="regression_chart"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
            
              <div style='text-align:center'><h5 *ngFor='let id of gameIds; let idx = index;' (click)='updateLineChartData(gameIds[idx])' style='display: inline-block;'><span style="cursor: pointer; color: #337ab7; display: inline-block;">Game {{idx + 1}}&nbsp;</span></h5></div>
            </div>
          </div>
        </div>
      </div>



<div *ngIf='isDataAvailable'>

  <div class='row'>
    <h3 style='text-align:center'>Player Highlights</h3>
    <div class='table-responsive' class='col-md-6'>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th colspan='2'>{{p1Tag}} Stats</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Openings Needed to Kill</td>
            <td> {{ p1Punishes.length / p1Kills | number:'1.1-4'}} </td>
          </tr>
          <tr>
            <td>Total Neutral Wins</td>
            <td>{{ p1Punishes.length}}</td>
          </tr>
          <tr>
            <td>Damage Dealt</td>
            <td >{{ p1Damage | number:'1.1-2'}}</td>
          </tr>
          <tr>
            <td>Total Hits</td>
            <td>{{ p1Hits }}</td>
          </tr>
          <tr>
            <td>Average Hits Per Combo</td>
            <td>{{ p1Hits / p1Punishes.length | number:'1.1-2'}}</td>
          </tr>
          <tr>
            <td>Average Punish Length (Seconds)</td>
            <td>{{ p1Frames / p1Punishes.length / 60 | number:'1.1-2'}}</td>
          </tr>
          <tr>
            <td>Highest Damage Punish</td>
            <td><span style="cursor: pointer; color: #337ab7; display: inline-block;" (click)="seekToTime(p1MaxPunish.frameStart, p1MaxPunish.gameId)">{{ p1MaxPunish.damage | number: '1.2-2'}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='table-responsive' class='col-md-6'>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th colspan='2'>{{p2Tag}} Stats</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Openings Needed to Kill</td>
            <td> {{ p2Punishes.length / p2Kills | number:'1.1-4'}} </td>
          </tr>
          <tr>
            <td>Total Neutral Wins</td>
            <td>{{ p2Punishes.length}}</td>
          </tr>
          <tr>
            <td>Damage Dealt</td>
            <td>{{ p2Damage | number:'1.1-2'}}</td>
          </tr>
          <tr>
            <td>Total Hits</td>
            <td>{{ p2Hits }}</td>
          </tr>
          <tr>
            <td>Average Hits Per Combo</td>
            <td>{{ p2Hits / p2Punishes.length | number:'1.1-2'}}</td>
          </tr>
          <tr>
            <td>Average Punish Length (Seconds)</td>
            <td>{{ p2Frames / p2Punishes.length / 60 | number:'1.1-2'}}</td>
          </tr>
          <tr>
            <td>Highest Damage Punish</td>
            <td><span style="cursor: pointer; color: #337ab7; display: inline-block;" (click)="seekToTime(p2MaxPunish.frameStart, p2MaxPunish.gameId)">{{ p2MaxPunish.damage | number: '1.2-2'}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




  <div class='row'>
    <h3 style='text-align:center'>Combo Data with Timestamps</h3>
    <div class='col-md-6'>
      <h4 style='text-align:center;'>{{p1Tag}}</h4>
      <table class='table table-hover'>
        <tr>
          <th>Game</th>
          <th>Hits</th>
          <th>Damage Dealt</th>
          <th>Timestamp</th>
        </tr>
        <tr *ngFor='let punish of p1Punishes' (click)="seekToTime(punish.frameStart, punish.gameId)" [ngClass]="{'greenTable': punish.isKill}">
          <td >{{gameIds.indexOf(punish.gameId) + 1}}</td>
          <td>{{punish.hits}}</td>
          <td [ngClass]="{'bigCombo': punish.damage > 27}">{{punish.damage | number: '1.2-2'}}</td>
          <td><span style="cursor: pointer; color: #337ab7; display: inline-block;">{{ punish.frameStart/60 + allSets[setIndex]['gameStarts'][gameIds.indexOf(punish.gameId)] | number: '1.0-0'}}</span></td>
        </tr>
      </table>
    </div>

    <div class='col-md-6'>
      <h4 style='text-align:center;'>{{p2Tag}}</h4>
      <table class='table table-hover'>
        <tr>
          <th>Game</th>
          <th>Hits</th>
          <th>Damage Dealt</th>
          <th>Timestamp</th>
        </tr>
        <tr *ngFor='let punish of p2Punishes' (click)="seekToTime(punish.frameStart, punish.gameId)" [ngClass]="{'greenTable': punish.isKill}">
          <td >{{gameIds.indexOf(punish.gameId) + 1}}</td>
          <td>{{punish.hits}}</td>
          <td [ngClass]="{'bigCombo': punish.damage > 27}">{{punish.damage | number: '1.2-2'}}</td>
          <td><span style="cursor: pointer; color: #337ab7; display: inline-block;">{{ punish.frameStart/60 + allSets[setIndex]['gameStarts'][gameIds.indexOf(punish.gameId)] | number: '1.0-0'}}</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>



